<% include partials/header %>

	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				<div class="resume-header row align-items-center">
					<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-8">
						<h2 class="resume-name">Barak Amzaleg
							<div class="resume-tagline mb-3 mb-md-0">Full Stack Web Developer</div>
						</h2>
					</div>
					<!--//resume-title-->

					<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-4">
						<ul class="list-unstyled mb-0">
							<li>
								<i class="fas fa-phone-volume fa-fw"></i> 0522211630
							</li>
							<li>
								<i class="far fa-envelope fa-fw"></i> amzalegbarak@gmail.com
							</li>
							<li>
								<i class="fas fa-fingerprint fa-fw"></i> 206218513
							</li>
						</ul>
					</div>

					<!--//resume-contact-->
				</div>
				<!--//row-->
				<hr>
				<div class="resume-intro py-3">
					<div class="media flex-column flex-md-row align-items-center">
						<img class="resume-profile-image rounded-circle mr-0 mr-md-5" src="./barakprofilepicture.jpg"
						    alt="image">
						<div class="media-body text-left">
							<p class="resume-summary-p">An autodidact,
								<strong>Full Stack Web Developer</strong> and a
								<strong>Computer Science Student</strong>, with the ability to understand, research and learn new technologies, completely independently. Highly motivated, team player with strong interpersonal skills, constant curiosity for learning new things And a
								broad understanding of many types of technologies.</p>
						</div>
						<!--//media-body-->
					</div>
				</div>
				<!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Experience</h3>
								<div class="mb-3">
									<div class="row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-7 mb-2 mb-md-0">Full Stack Web Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-5 text-left text-md-right">Freelancer | 2019 - Present</div>
									</div>
									<div>
										<ul>
											<li>Building complex scalable web apps for clients all over the world.</li>
											<li>Design of Shopify sites, according to customer requirements.</li>
										</ul>
									</div>
								</div>
								<div>
									<div class="row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-7 mb-2 mb-md-0">System Assistant</h4>
										<div class="item-meta col-12 col-md-6 col-lg-5 text-left text-md-right">Saips | 2018 - 2019</div>
									</div>
									<p>System assistant in the
										<Strong>high-tech company "Saips"</Strong>, which develops a road identification system for autonomous vehicles.</p>
								</div>

								<div class="mb-3">
									<div class="row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-7 mb-2 mb-md-0">Managing an eBay store </h4>
										<div class="item-meta col-12 col-md-6 col-lg-5 text-left text-md-right">eBay | 2017 - 2018</div>
									</div>
									<div>
										<p>Managing an eBay web store and selling products worldwide</p>
									</div>
								</div>
							</section>
							<!--//Experience-section-->

							<section class="Education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<div class="mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-7 mb-2 mb-md-0">Computer Science Student</h4>
										<div class="item-meta col-12 col-md-5 col-lg-5 text-left text-md-right">The Open University | 2019 - Present</div>
									</div>
									<div>
										<p>First Year - Courses:</p>
										<ul style="list-style-type: disc;">
											<li>Discrete Mathematics.</li>
											<li>Introduction to Computer Science - Java.</li>
											<li>Linear Algebra.</li>
											<li>Databases and Introduction to Algorithms.</li>
										</ul>
									</div>
								</div>
								<!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">High School Studies</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-left text-md-right"> Yifat | 2010 - 2014 </div>
									</div>
									<div class="item-content">
										<p>"Mekif Haemeq Hama'aravi", Yifat:</p>
										<ul style="list-style-type: disc;">
											<li>Full matriculation, average 104.</li>
											<li>Majors (5 units): Physics, Biology, Math and English.</li>
										</ul>
									</div>
								</div>
								<!--//item-->
							</section>
							<!--//project-section-->

							<section class="Military-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Military Service</h3>
								<div class="mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-7 mb-2 mb-md-0">Saving and Rescue Unit</h4>
										<div class="item-meta col-12 col-md-5 col-lg-5 text-left text-md-right">IDF | 2015 - 2018 </div>
									</div>
									<div>
										<p>Full military service as a combat and medic soldier:</p>
										<ul> style="list-style-type: disc;">
											<li>First six months - as part of a submarine fighter course.</li>
											<li>Rest of the service - combat and medic soldier, mostly in "the west bank".</li>
											<li>Several times as Chief medic in officers' courses.</li>
											</ul>
									</div>
								</div>
								<!--//item-->
							</section>

						</div>
						<!--//resume-main-->

						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-3 pb-lg-4">
							<section class="skills-section py-1">
								<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
								<div class="item">
									<h4 class="item-title">Technical</h4>
									<ul class="list-unstyled resume-skills-list">
										<li class="mb-2">HTML5/JavaScript/ES6/Java</li>
										<li class="mb-2">CSS3/Sass/Scss/Animations</li>
										<li class="mb-2">React.js/Redux/Ajax/Next.js</li>
										<li class="mb-2">Node.js/npm/Express.js</li>
										<li class="mb-2">MongoDB Atlas</li>
										<li class="mb-2">Git/Github</li>
										<li>Bootstrap 4/jQuery</li>
									</ul>
								</div>
								<!--//item-->
								<div class="item">
									<h4 class="item-title">Professional</h4>
									<ul class="list-unstyled resume-skills-list">
										<li class="mb-2">Effective communication</li>
										<li class="mb-2">Team player</li>
										<li class="mb-2">Strong problem solver</li>
										<li class="mb-2">Good time management</li>
										<li class="mb-2">Highly motivated</li>
										<li>"Can Do" attitude</li>
									</ul>
								</div>
								<!--//item-->
							</section>
							<!--//skills-section-->

							<section class="skills-section py-1">
								<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
								<ul class="list-unstyled resume-lang-list">
									<li class="mb-2">Hebrew
										<span class="text-muted">(Native)</span>
									</li>
									<li>English
										<span class="text-muted">(Fluent)</span>
									</li>
								</ul>
							</section>
							<!--//certificates-section-->
							<section class="skills-section py-1">
								<h3 class="text-uppercase resume-section-heading mb-4">Programs</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									<li class="mb-2">Microsoft Office 365</li>
									<li class="mb-2">Microsoft Windows 10</li>
									<li class="mb-2">Adobe Premiere Pro</li>
								</ul>
							</section>
							<!--//certificates-section-->

							<section class="skills-section py-1">
								<h3 class="text-uppercase resume-section-heading mb-4">Achievements</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									<li class="mb-2">Psychometric score: 710 </li>
								</ul>
							</section>
						</aside>
						<!--//resume-aside-->
					</div>
					<!--//row-->
				</div>
				<!--//resume-body-->
				<hr>
				<div class="resume-footer text-center">
					<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
						<li class="list-inline-item mb-lg-0 mr-3 headerHover">
							<a class="headerHover" target="_blank" href="https://www.facebook.com/barak.amzaleg">
								<i class="fab fa-facebook-square fa-2x mr-2"></i>
								<span class="d-none d-lg-inline-block text-muted">facebook.com/barak.amzaleg</span>
							</a>
						</li>
						<li class="list-inline-item mb-lg-0 mr-3 headerHover">
							<a class="headerHover" target="_blank" href="https://www.linkedin.com/in/barak-amzaleg-7b944b168">
								<i class="fab fa-linkedin fa-2x mr-2"></i>
								<span class="d-none d-lg-inline-block text-muted">linkedin.com/in/barak-amzaleg</span>
							</a>
						</li>
						<li class="list-inline-item mb-lg-0 mr-lg-3 headerHover">
							<a class="headerHover" target="_blank" href="https://stackoverflow.com/users/11106097/barak-amzaleg">
								<i class="fab fa-stack-overflow fa-2x mr-2"></i>
								<span class="d-none d-lg-inline-block text-muted">stackoverflow.com/barak-amzaleg</span>
							</a>
						</li>
					</ul>
				</div>
				<!--//resume-footer-->
			</article>
		</div>
		<!--//container-->
	</div>
	<!--//main-wrapper-->

	<% include partials/footer %>